@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="display-4">Welcome to Azure VM dashboard sample</h1>
<p>In order to see, what is happening, please, press <b>Login to Azure</b>. When you are logged in, you'll be able:</p>
<ul>
    <li>
        See VM resources
    </li>
    <li>
        Scale up (and out) based on request
    </li>
    <li>
        Subscribe to changes and monitor them in real-time
    </li>
</ul>
<p>All this is possible with the use of <a href="https://devblogs.microsoft.com/azure-sdk/" target="_blank">Azure SDK for .NET</a></p>